$background-color: #e6e6e6;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gradient: linear-gradient(0deg, $primary-color, $secondary-color);

@keyframes opacityBox {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.035);
  }
}

@mixin flexCenter () {
display: flex;
justify-content: space-between;
}

* {
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 3%;
  background-color: #e6e6e6;

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 50px;
  text-align: center;
  padding-right: 45%;
}

i {
  font-size: 30px;
  color: black;
  }
}

.photo-name {
  position: relative;
}

.big-photo {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.name-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #e6e6e6;
  padding-bottom: 10px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin-bottom: -2%;
    h2 {
      font-family: 'Shrikhand', cursive;
      font-size: 50px;
      padding-left: 3.5%;
    }
    i {
      font-size: 40px;
      padding-right: 6.5%;
      padding-top: 3.5%;
      cursor: pointer;
      &:hover {
        transition: all .60s ease-in-out;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        background-image: $gradient;
        color: transparent;
      }
    }
  }

.aperitives {
  animation-timing-function: ease-in;
  animation-name: menuAppears;
  animation-duration: 2s;
  animation-delay: -1900ms;
}

.main {
  animation-timing-function: ease-in;
  animation-name: menuAppears;
  animation-duration: 2s;
  animation-delay: -1000ms;
}

.sweets {
  animation-timing-function: ease-in;
  animation-name: menuAppears;
  animation-duration: 2s;
  animation-delay: -20ms;
}

@keyframes menuAppears {
from {
  opacity: 0;
}
to {opacity: 100%;
}
}

/* Entrees */

.menu {
  background-color: #e6e6e6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.entrees {
  padding-bottom: 2%;

h3 {
  padding-left: 4.5%;
  padding-bottom: 0.5%;
  font-weight: 400;
  font-size: 22px;
  span {
  border-bottom: #99e2d0 solid;
  }
 }
}

.aperitives {
  display: flex;
  justify-content: space-evenly;

.box1 {
  display: flex;
  flex-direction: space-evenly;
  width: 25%;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  padding-left: 1.5%;
  animation: 2s;
  animation-name: opacityBox;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: opacity 1s ease-out;
  box-shadow: 4px 6px 10px #cccccc;
  overflow: hidden; 

.food-description {
  width: 80%;
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
}

.price {
  padding-top: 40px;
  width: 20%; 
  font-weight: bold;     
  }
 }
}

/*main */

.main-dish {
  padding-bottom: 2%;

h3 {
  padding-left: 4.5%;
  padding-bottom: 0.5%;
  font-weight: 400;
  font-size: 22px;
  span {
    border-bottom: #99e2d0 solid;
  }
 }
}

.main {
  display: flex;
  justify-content: space-evenly;

.box2 {
  display: flex;
  width: 25%;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  padding-left: 1.5%;
  animation: 2s;
  animation-name: opacityBox;
  animation-fill-mode: forwards;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease-out;
  animation-delay: .2s;
  box-shadow: 4px 6px 10px #cccccc;

.food-description {
  width: 80%;
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
}

.price {
  padding-top: 40px;
  width: 20%; 
  font-weight: bold;     
  }
 }
}

/* desserts */

.desserts {
  padding-bottom: 2%;

h3 {
  padding-left: 4.5%;
  padding-bottom: 0.5%;
  font-weight: 400;
  font-size: 22px;
  span {
    border-bottom: #99e2d0 solid;
  }
 }
}

.sweets {
  display: flex;
  justify-content: space-evenly;

.box3 {
  display: flex;
  width: 25%;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  padding-left: 1.5%;
  animation: 2s;
  animation-name: opacityBox;
  animation-fill-mode: forwards;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1s ease-out;
  animation-delay: .3s;
  box-shadow: 4px 6px 10px #cccccc;

  .food-description {
      width: 80%;
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

.price {
  padding-top: 40px;
  width: 20%; 
  font-weight: bold;     
  }
 }
}
.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  .order {
    padding: 15px 80px 15px 80px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: #808080 2px 3px 4px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    margin-top: 3%;
    margin-bottom: 5%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;

  a {
  text-decoration: none;
  color: white;
  }
  &:hover {
    transform: scale(1.01);
    filter: brightness(95%);
    }
  }
}

/* footer */
.footer {
  padding-bottom: 3%;;
  background-color:#404040;
  margin-top: -3%;

h3 {
  font-family: 'Shrikhand', cursive;
  padding-left: 3%;
  font-size: 25px;
  color: white;
  padding-top: 2%;
}
i {
  padding-right: 4px;
}
}

.info ul {
  @include flexCenter;
  width: 80%;
  padding-left: 3%;
  list-style-type: none;

li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1550px) {
.entrees h3 {
padding-top: 3%;
}
.main-dish h3{
margin-top: -3%;
}

.desserts h3 {
margin-top: -3%;
}

.button-order {
margin-top: -3%;
}
.menu {
margin-top: -5%;
.aperitives {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 column-gap: 2%;
  .box1 {
   margin-bottom: 8%;
   width: 28%;
    .food-description {
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     padding-left: 3%;
    }
  }
}
.main {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 column-gap: 2%;
 .box2 {
 margin-bottom: 8%;
 width: 28%;
 .food-description {
   overflow: hidden;
   padding-left: 3%;
   text-overflow: ellipsis;
   white-space: nowrap;
   }
 }
}
.sweets {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 column-gap: 2%;
 .box3 {
 margin-bottom: 8%;
 width: 28%;
 .food-description {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   padding-left: 3%;
   }
 }
}
}
}

@media only screen and (max-width: 900px) {
.header h1 {
font-size: 40px;
text-align: center;
padding-left: 9%;
}

.big-photo {
height: 380px;
}
.name-restaurant h2 {
font-size: 30px;
display: flex;
justify-content: baseline;
i {
  padding-top: 30px;
  font-size: 30px;
}
}
.menu {
margin-top: -8%;
.entrees h3 {
padding-top: 3.5%;
}
.aperitives {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
.box1 {
margin-bottom: 8%;
width: 90%;
.food-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 3%;
  }
  .price {
    padding-top: 40px;
    width: 20%;
  }
}
}
.main {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
.box2 {
margin-bottom: 8%;
width: 90%;
.food-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 3%;
  }
}
}
.sweets {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
.box3 {
margin-bottom: 8%;
width: 90%;
.food-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 3%;
  }
}
}
}
button .order {
margin-left: -20px;
}
.footer {
margin-top: -7%;
padding-bottom: 20%;
i {
padding-right: 4px;
}
}

.info ul {
display: flex;
flex-direction: column;
justify-content: flex-start;
}
} 