* {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

body {
    margin: 0%;
}

 header h1 {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 60px;
    margin: 0;
}

header {
    box-shadow: 4px 6px 10px#cccccc;
    margin: 0;
    padding: 2%;
}

.search-location {
    text-align: center;
    background-color:#e6e6e6;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 1%;
    margin: 0;
}

.search-location input {
    border: none;
    font-size: 22px;
    background-color:#e6e6e6;
    padding-left: 1%;
}

.search-location i {
    font-size: 25px;
    padding-left: 2%;
    color: #262626;
}

.search {
    text-align: center;
    background-color: #f2f2f2;
    margin-top: 6px;
}

.how-to-book {
    margin-left: 3%;
    padding-top: 2%;
}

.booking h2 {
    font-size: 40px;
}

.booking p {
    color: grey;
    font-size: 25px;
}

.booking button {
    padding: 17px 25px 17px 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF79DA;
    border: none;
    border-radius: 30px;
    box-shadow: #818181 2px 3px 3px;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
}

.booking {
    padding-bottom: 2%;
}

/*How it works */

.how-to-book {
    margin-bottom: 2%;
    margin-right: 3%;
}

.step {
    font-size: 20px;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.how-to-book h2 {
    font-size: 35px;
    padding-left: 2px;
}

.steps-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps-holder button {
    background-color:#f2f2f2;
    border: none;
    border-radius: 30px;
    box-shadow: #818181 2px 3px 3px;
}

.step:hover {
    background-color: #f2e5ff;
}

.step i{
    padding-right: 20px;
    padding-left: 30px;
}

.icon {
  text-align: left;
}

/* Restaurants */

.restaurants {
    background-color: #f2f2f2;
    padding-top: 3%;
    padding-bottom: 8%;
    margin-bottom: -2%;
}

.restaurant-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurants h2 {
    padding-left: 2.5%;
}

.restaurants .image {
    object-fit: cover;
}

.image {
    width: 100%;
    height: 220px;
}

.restaurant-list {
    background-color: white;
    width: 370px;
    overflow: hidden;
    border-radius: 20px;
    padding-bottom: 8px;
}

.name {
    line-height: 0.3;
    padding-left: 5%;
}

/* Footer */

.footer {
    padding-bottom: 3%;;
    background-color:#404040;

}

.info ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 3%;
    list-style-type: none;
}

.info li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.footer h3 {
    font-family: 'Shrikhand', cursive;
    padding-left: 3%;
    font-size: 25px;
    color: white;
    padding-top: 2%;
}





    